.news-article-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 20px;
}

.article-info {
  text-align: left;
}

.article-info p {
  margin-bottom: 10px;
}

.article-info strong {
  margin-right: 5px;
}

.article-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.article-info a:hover {
  color: #0056b3;
}


.spinner {
  width: 300px;
  display: flex;
  justify-content: center;
}